/* Allgemein --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: auto;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:root {
    --primary-color: red; /* Primäre Farbe */
    --secondary-color: #292929; /* Sekundäre Farbe */
    --font-color: rgb(255, 255, 255);
    --img-background: rgb(212, 212, 212);
    --font-dezent-color: #86868b;
    --font-family: Arial, Helvetica, sans-serif;
  }


/* Navigation --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
.header {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 75px;
    background-color: var(--primary-color);
    color: white;
    transition: height 0.5s ease;
    z-index: 1000;
    padding-bottom: 0px;
    box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.43);
}

.header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav li {
    margin: 0 15px;
    list-style: none;
    text-decoration: none;
}

.header nav a {
    color: var(--font-color);
    text-decoration: none;
    transition: ease-in-out 0.1s;
    font-weight: lighter;
}

header nav a:hover {
    color: rgb(192, 192, 192);
}

.nav-menu-icon {
    display: none;
}

/* Mobile menu */
.mobile-menu {
    display: none;
    position: fixed;
    top: 75px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.43);
    padding-top: 10px;
    padding-left: 20px;
    overflow: hidden;
}

.mobile-menu h1 {
    color: var(--font-color);
    margin-top: 20px;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    color: var(--font-color);
    text-decoration: none;
}

/* Footer --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
footer {
    width: 100%;
    height: auto;
    color: var(--font-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px -1px 15px 5px rgba(0, 0, 0, 0.43);
    transition: none;
    padding-top: 40px;
    padding-bottom: 20px;
}


footer h3 {
    font-size: 30px;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 60px;
}

.newsletter input {
    height: 30px;
    width: 280px;
    color: var(--font-color);
    background-color: rgb(32, 32, 32);
    padding-left: 10px;
    border: rgb(32, 32, 32);
}

.newsletter button {
    height: 30px;
    width: 90px;
    color: var(--font-color);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--font-color);
    transition: ease-in-out 0.2s;
}

.newsletter button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
}

.footer-nav {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

footer a {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-links {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

footer li {
    list-style: none;
    text-decoration: none;
}

footer a {
    color: var(--font-color);
    transition: ease-in-out 0.1s;
    text-decoration: none;
}

footer a:hover {
    color: rgb(186, 186, 186);
}

.copyright {
    color: grey;
    margin: 10px;
}

/* QandA --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
.qanda {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
}

.faq {
    background-color: #ffffff;
    border-bottom: 0.5px solid #ddd;
    margin-bottom: 10px;
}

.frage {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 0.5px solid #ddd;
}

.frage img {
    transition: transform 0.3s ease-in-out;
}

.antwort {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.antwort.visible {
    max-height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Startseite --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
#startseite {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.hintergrund {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/IMG_3555.jpg);
    background-size: cover;
    background-color: var(--img-background);
}

.black {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.587);
}

.black h1 {
    color: rgb(216, 216, 216);
}

.black h4 {
    color: rgb(216, 216, 216);
}

.grey {
    height: 41px;
    width: 470px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.648);
    border-radius: 7px;


}

.eingabe {
    width: 465px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.eingabe input {
    height: 25px;
    width: 380px;
    background-color: white;
    border: white;


}

.grey button {
    height: 25px;
    width: 60px;
    border: 1px;
    border-radius: 3px;
    background-color: var(--secondary-color);
    color: white;
}

.grey button:hover {
    background-color: white;
    color: black;
}



#leistungen {
    height: 350px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:var(--primary-color);
    transform: translateY(-40px);
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;

}


.box {
    height: 150px;
    width: 250px;
    color: white;
    background-color:var(--secondary-color);
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px 5px 0px 0px;
    font-size: 12px;
    padding-left: 10px;
    transform: translateY(-50px);
}

.box a {
    margin-top: 10px;
    text-decoration: underline;
    color: #dfdfdf;
}

.services-text {
    color: white;
    text-align: center;
    transform: translateY(-50px);
}

.test {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.breite {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.shop {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.shop a {
    color: black;
    text-decoration: none;
}

.test {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#shop-btn {
    margin-top: 20px;
    height: 25px;
    width: 125px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    margin-bottom: 20px;
    color: white;
    transition: all 0.3s;
}

#shop-btn:hover {
    margin-top: 20px;
    height: 25px;
    width: 125px;
    border: 1px solid var(--primary-color);
    background-color: #ffffff;
    border-radius: 2px;
    margin-bottom: 20px;
    color: var(--primary-color);
    transition: all 0.3s;
}

.preview {
    height: auto;
    width: 280px;
    border: 0px solid rgba(215, 215, 215, 0);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 1px 25px -9px #000000;
    transition: all 0.3s ease-in-out;
}

.preview:hover {
    transform: translateY(-7px);
}

.cover-bild {
    height: 160px;
    width: 100%;
    background-size: auto;
}



.preview-inhalt {

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    padding-left: 25px;
    padding-top: 5px;
    background-color: white;
}

.preview-inhalt img {
    transform: rotate(270deg);
}

.preview-fakten {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.fakten-tabelle {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

.fakten-tabelle td {
    overflow: hidden;
    background-color: rgba(240, 248, 255, 0);
}

.fakten-tabelle th {
    font-weight: normal;
    overflow: hidden;
}

.einheit {

    color: rgb(101, 101, 101);
}

.titel {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.carousel-wrapper {
    display: none;

}

/* Über Uns --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
#makler {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.layout {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.layout-links {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

}

.makler-profilbild {
    height: 380px;
    width: auto;
    background-color: rgba(104, 104, 47, 0);
}

.layout-rechts {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.zertifikate {
    width: auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

}
.zertifikateOnKlick {

    display: flex;
    align-items: center;
    justify-content: center;
}

.zertifikat {
    height: 100%;
    width: auto;
    border: 1px solid grey;
    box-shadow: -2px 2px 19px 2px rgba(0, 0, 0, 0.76);
    transition: ease-in-out 0.3s;
}

#zertifikatEins {
    height: 250px;
    width: auto;
    z-index: 1;
    transform: translateY(20px);
    transition: ease-in-out 0.1s;
}

.zertifikatZwei {
    height: 250px;
    width: auto;
    z-index: 0;
    transition: ease-in-out 0.1s;
    transform: translateX(-130px);
}

.makler-spruch {
    margin-top: 10px;
    text-align: center;
}








/* Leistungen --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

/* Immobilien --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

.alles-immobilien {
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 80px;
}

.filter-container {
    width: 870px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-item input,
.filter-item select {
    width: auto;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.filter-item button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-item button:hover {
    background-color: #0056b3;
}

.ergebnisse {
    width: 910px;
}

.ergebnisse .ausgabe {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ergebnisse .ausgabe h2 {
    margin-bottom: 20px;
}

.ergebnis-item {
    height: 250px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ced4da;
    border-radius: 7px 0px 0px 7px;
    overflow: hidden;
    background-color: red;
}

.ergebnis-item img {
    width: 320px;
    height: 250px;
    object-fit: cover;
    margin-right: 20px;
}

.ergebnis-details {
    padding: 20px;
    flex: 1;
}

.ergebnis-details h3 {
    margin: 0;
    font-size: 1.2em;
}

.ergebnis-details p {
    margin: 5px 0;
}

.anzeige {
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 7px 0px 0px 7px;
    margin-bottom: 25px;
}

.anzeige-img {
    width: 330px;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
    background-size: cover;
    background-color: var(--img-background);
}

.anzeige-infos {
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

.anzeige-infos-header {
    height: auto;
    width: auto;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: column;

    padding-left: 20px;
}

.anzeige-infos-header h3 {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.anzeige-infos-header h4 {
    margin-top: 15px;
    color: black;
}

.anzeige-infos-header p {
    font-size: 13px;
    text-align: justify;
    ;
}

.anzeige-infos-fakten {
    width: 300px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
}

.anzeige-infos-fakten-tabelle {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

.anzeige-tabelle-fakten-tabelle td {
    overflow: hidden;
    background-color: rgba(240, 248, 255, 0);
}

.anzeige-tabelle-fakten-tabelle th {
    font-weight: normal;
    overflow: hidden;
}


.anzeige-infos-fakten-tabelle-wert {
    color: black;
}

.anzeige-infos-fakten-tabelle-einheit {
    color: rgb(101, 101, 101);
}

#filter-mobile-button {
    display: none;
}


.filter-mobile-menu {
    height: 100px;
    width: 100px;
    background-color: red;
    display: none;
}

.filter-mobile-menu.active {
    display: block;
}






/* Kontakt --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
.kontakt-alles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 70px;

}

.map {
    height: 300px;
    width: 100%;
    background-image: url(img/map.jpg);
    background-color: var(--img-background);
}

.kontakt {
    height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.kontakt-text {
    height: 250px;
    width: 450px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 30px;

}

.kontakt-daten {
    height: 250px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.kontakt-daten-hintergrund {
    height: auto;
    width: auto;
    background-image: url(img/map.jpg);
    background-size: cover;
    background-color: rgb(255, 0, 179);

}

.kontakt-formular {
    height: 250px;
    width: auto;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.kontakt-field {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.kontakt-field input {
    height: 20px;
    width: 300px;
    border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid #aaaaaa;
}

.kontakt-field .nachricht {
    height: 60px;
    width: 300px;


}

.kontakt-field button {
    height: 30px;
    width: 100px;
    border: 1px solid black;
    background-color: #000000;
    border-radius: 2px;
    margin-bottom: 20px;
    color: white;
    transition: all 0.3s;
}

.kontakt-field button:hover {

    border: 1px solid black;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.kontakt-inhalt h3 {
    font-weight: bold;
}

/* Anzeige --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/


.anzeige1 {
    margin-top: 130px;
    margin-bottom: 40px;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.anzeige1-layout {
    background-color: rgb(255, 255, 255);
}

.parent {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(7, 170px  );
    grid-template-rows: repeat(5, 130px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 4 / 4;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    grid-area: 1 / 4 / 4 / 7;
    background-color: rgb(67, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    grid-area: 4 / 1 / 6 / 4;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div4 {
    grid-area: 4 / 4 / 6 / 7;
    background-color: rgb(183, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div5 {
    grid-area: 1 / 7 / 6 / 8;
    background-color: rgb(108, 117, 139);
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.anzeige-anprechpartner-bild {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-image: url(img/immobilie-01/makler.png);
    background-size: cover;
    background-color: white;

}

.anzeige1-makler-infos {
    font-size: 9px;
    width: 130px;
}

.anzeige-makler-infos p {
    font-size: 12px;

}

.anzeige-ansprechpartner-name {
    font-weight: bold;
    color: #000000;
}

.anzeige-ansprechpartner-titel {
    font-weight: bold;
    color: #000000;
}
.anzeige-ansprechpartner-tel {
    font-weight: bold;
    color: #000000;
}
.anzeige-ansprechpartner-mail {
    font-weight: bold;
    color: #000000;
}

.anzeige-ansprechpartner-socials {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-container {
    width: 500px; /* Breite des sichtbaren Bereichs */
    height: 350px; /* Höhe des sichtbaren Bereichs */
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slider {
    display: flex;
    gap: 10px; /* Abstand zwischen den Slides */
    overflow-x: hidden; /* Horizontales Scrollen deaktivieren */
    overflow-y: hidden; /* Vertikales Scrollen deaktivieren */
    scroll-snap-type: x mandatory; /* Snap-to-Position für jeden Slide */
    -webkit-overflow-scrolling: touch; /* Besseres Scrollen auf mobilen Geräten */
    height: 100%; /* Höhe des Sliders entspricht der Höhe des Containers */
}

.slide {
    flex: 0 0 auto; /* Flexible Größe, abhängig von der Bildgröße */
    scroll-snap-align: start; /* Slide startet am Anfang des sichtbaren Bereichs */
    min-width: calc(100% - 10px); /* Mindestbreite jedes Slides (abhängig vom Abstand) */
    max-width: 100%; /* Maximalbreite jedes Slides ist 100% des sichtbaren Bereichs */
    height: 100%; /* Höhe jedes Slides entspricht der Höhe des Containers */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000; /* Z-Index über dem Rest der Seite */
    justify-content: center;
    align-items: center;
}

.fullscreen-content {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Das Bild wird in den verfügbaren Platz passen */
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.fullscreen-prev,
.fullscreen-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

.fullscreen-prev {
    left: 10px;
}

.fullscreen-next {
    right: 10px;
}





/* Stil für den DIV-Container */
.immobilien-container {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    margin: 20px auto; /* zentriert den Container */
}

/* Stil für den Hauptinhalt */
.immobilien-body {
    padding: 20px;
    text-align: justify; /* Blocksatz für den Text */
}

.immobilien-body p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
}
/* Datenschutz --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.datenschutz p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 16px;
}

.datenschutz-section {
    margin-bottom: 20px;
}

.datenschutz-section:last-child {
    margin-bottom: 0;
}

/* Impressum --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

.container {
    width: 90%;
    max-width: 800px;
    margin: 100px auto;
    background-color: #fff;
}

.services-text h1 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}


.impressum-section {
    margin-bottom: 20px;
}

.impressum-section:last-child {
    margin-bottom: 0;
}

a {
    color: #353535;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-info,
.bank-info,
.register-info {
    display: flex;
    flex-direction: column;
}

.contact-info p,
.bank-info p,
.register-info p {
    margin-bottom: 5px;
}

.info-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #2a2a2a;
}



/* MOBILE ANSICHT -!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 600px) {

    /* Navigation (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
    .nav-links-big li {
        display: none;
        background-color: red;
    }

    .nav-menu-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.active {
        display: block;
    }

    body.menu-active {
        overflow: hidden;
    }

    /* Footer (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0px;
        width: auto;
    }

    footer {
        font-size: 10px;
    }

    .newsletter form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .newsletter form button {
        margin-top: 15px;
        width: 100%;
    }

    .newsletter form input {
        width: 300px;
    }

    /* Kontakt (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
    .map {
        display: none;
    }

    .kontakt {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .kontakt-text {
        width: auto;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding: 20px;
    }

    .kontakt-daten {
        width: 100%;
        height: calc(100%*0.8);
        width: calc(100%*0.9);
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .kontakt-daten-hintergrund {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250px;
        background-image: url(img/map.jpg);
        background-size: cover;
        background-color: red;
    }

    .kontakt-daten-box1 {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;

    }

    .kontakt-daten-box2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .kontakt-formular {
        align-items: center;
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
    }

    .kontakt-field {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .kontakt-field input {
        width: 80%;
    }

    .kontakt-field .nachricht {
        width: 80%;
    }

    .kontakt-field button {
        width: 80%;
    }

    /* Startseite (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
    #startseite {
        width: 100%;
    }

    .hintergrund {
        width: 100%;

    }

    .black {
        width: 100%;


    }



    .grey {
        width: auto;
        background-color: rgb(134, 134, 134);
        margin-top: 10px;
    }

    .eingabe {
        width: auto;
    }

    #eingabe {
        width: 250px;
        height: 40px;
    }

    #such {
        width: 90px;
        height: 40px;
    }

    .test {
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    #leistungen {
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        transform: translateY(-0px);
    }

    .services {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        padding-top: 10px;

    }



    .box {
        width: 90%;
        height: auto;
        transform: translateY(-0px);
        margin-left: 0px;
        margin-bottom: 10px;
        border-radius: 4px;
        background-color: white;
        color: black;
        align-items: flex-start;
        justify-content: center;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        padding: 5px;
    }

    .box a {
        color: rgb(91, 91, 91);
    }

    .services-text {
        width: auto;
        height: auto;
        transform: translateY(-0px);
        padding: 20px;
        font-size: 13px;
        color: black;

    }

    .shop {
        display: none;
    }

    .carousel-wrapper {
        display: flex;
        align-items: center;
    }

    .carousel-wrapper button {
        border: none;
        background-color: rgba(255, 0, 0, 0);
    }



    .carousel-container {
        overflow: hidden;
        width: 310px;
        height: 340px;
        position: relative;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease;
    }


    .carousel-item {
        min-width: 310px;
        height: 340px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        user-select: none;
        box-sizing: border-box;
    }


    .carousel-item a {
        text-decoration: none;
    }

    .preview {
        height: auto;
        width: 280px;
        border: 0px solid rgba(215, 215, 215, 0);
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0px 1px 15px -9px #000000;
        transition: all 0.3s ease-in-out;
    }

    .preview {
        color: black;
    }


    .cover-bild {
        height: 160px;
        width: 100%;
        background-size: auto;
    }

    .preview-inhalt {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-size: 12px;
        padding-left: 25px;
        padding-top: 5px;
        background-color: white;
    }

    .preview-inhalt img {
        transform: rotate(270deg);
    }

    .preview-fakten {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
    }

    .fakten-tabelle {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        background-color: rgba(240, 248, 255, 0);
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: center;
    }

    .fakten-tabelle td {
        overflow: hidden;
        background-color: rgba(240, 248, 255, 0);
    }

    .fakten-tabelle th {
        font-weight: normal;
        overflow: hidden;
    }

    .einheit {
        color: rgb(101, 101, 101);
    }

    .titel {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 3px;
    }

    /* Über Uns (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
    .layout {
        width: auto;
        flex-direction: column-reverse;
    }

    .layout-rechts {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .layout-links {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Leistungen (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

/* Immobilien (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/


@media (max-width: 600px) {
    .filter-form {
        width: 100%;
    }

    .filter-container {
        width: auto;

    }

    .filter-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .filter-item-mobile {
        display: none;
    }

    .ergebnisse {
        width: auto;
    }

    #filter-mobile-button {
        display: block;
        width: 45%;
        background-color: rgb(241, 241, 241);
        color: black;
    }

    .filter-mobile-button {
        width: 45%;

    }

    .anzeige {
        height: auto;
        flex-direction: column;
        margin-bottom: 30px;
        background-color: rgb(249, 249, 249);
    }

    .anzeige-img {
        width: 100%;
        border-radius: 0px 7px 0px 0px;
    }

    .anzeige-infos-header {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
    }


    .anzeige-infos {
        padding: 0px;
        width: 100%;
    }



}
/* Anzeige (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
.parent {
    grid-template-columns: repeat(1, 380PX  );
    grid-template-rows: repeat(5, 190px);
}
.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
}
.div3 {
    grid-area: 3 / 1 / 4 / 2;
}
.div4 {
    grid-area: 4 / 1 / 5 / 2;
}
.div5 {
    grid-area: 5 / 1 / 6 / 2;
}

.anzeige1 {
    margin-top: 90px;
    margin-bottom: 20px;
    height: auto;
    width: auto;
   
}


/* Datenschutz (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

/* Impressum (Mobile) --BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/


}








.mindesthohe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 63vh;

}
